@page
@model TasteRestaurant.Pages.Order.OrderPickupModel
@using TasteRestaurant.Utility
@{
    ViewData["Title"] = "OrderPickup";
}

<h2>Entrega de pedidos</h2>

<form method="get" asp-page="OrderPickup">
    <br />

    @* Funcionalidade de pesquisa *@

    <div style="height:60px;">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <label class="radio-inline">
                        @Html.RadioButton("option", "name") Nome
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("option", "email") E-mail
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("option", "phone") Telefone
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("option", "order") N° Pedido
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="submit" value="Search" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Procurar
                    </button>
                    <div class="pull-left">
                        @Html.Editor("search", new { HtmlAttribute = new { @class="form-control"} })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    
    <br />
    @if (Model.OrderDetailsViewModel.Count > 0)
    {
        @foreach (var item in Model.OrderDetailsViewModel)
        {
            <div class="thumbnail row">
                @Html.Partial("_IndividualOrderDetails", item)
                <div class="col-sm-2">
                    @if (item.OrderHeader.Status.Equals(SD.StatusReady))
                    {
                        <a asp-page="OrderPickupDetails" asp-route-orderId="@item.OrderHeader.Id" class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-list"></span> Detalhes do pedido
                        </a>
                    }
                    else
                    {
                        <button type="submit" disabled class="btn btn-sm btn-primary">@item.OrderHeader.Status</button>
                    }
                </div>
            </div>

        }
    }
    else
    {
        <p> Nenhum pedido está disponível...</p>
    }
</form>
